{% extends 'base.html' %}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_forum/css/create_thread.css">
{% endblock %}

{% block content %}
<div class="container">
    <form action="/create" method="POST">
        <div class="title-container">
            <input
                type="text"
                class="title-input"
                name="title"
                placeholder="Title"
                maxlength="120"
                autocomplete="off"
                required>
        </div>
        <textarea
            class="body-input"
            rows="7"
            name="body"
            placeholder="What do you want your thread to be about?"
            autocomplete="off"></textarea>
        <input type="submit" class="btn btn-dark" value="Create Thread" required>
        {% csrf_token %}
    </form>
</div>
{% endblock %}