{% extends 'base.html' %}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_forum/css/forum.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="accordion threads" id="threads">
        <!-- Threads will be displayed here -->
    </div>
</div>
<a class="btn btn-info text-light create-btn" id="create-thread" href="/forum/create">
    <img src="/static/mysite_forum/img/create_btn.svg" alt="no svg">
</a>
{% endblock %}

{% block contentJS %}
<script src="/static/mysite_forum/js/forum.js"></script>
{% endblock %}