{% extends 'base.html' %}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_forum/css/forum.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="accordion threads" id="threads">
        {% for thread in forum_context.threads reversed %}
            {% include 'partials/thread_card.html' with thread=thread %}
        {% endfor %}
    </div>
</div>
<a class="btn btn-info text-light create-btn" id="create-thread" href="/create">
    <img src="/static/mysite_forum/img/create_btn.svg" alt="no svg">
</a>
{% endblock %}

{% block contentJS %}
<script>
    {% if forum_context.more %}
    let forum_has_more = true;
    {% else  %}
    let forum_has_more = false;
    {% endif %}

    {% if n_threads|add:"-{{ forum_context.offset }}" < 0 %}
    const thread_index = 0;
    {% else %}
    const thread_index = {{ n_threads }} - {{ forum_context.amount_displaying }};
    {% endif %}
</script>
<script src="/static/mysite_forum/js/forum.js"></script>
{% endblock %}