{% extends 'base.html' %}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_forum/css/forum.css">
{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">date created</th>
                <th scope="col">author</th>
            </tr>
        </thead>
        <tbody id="threads">
            {% for thread in threads reversed %}
                {% include 'partials/thread_card.html' with thread=thread %}
            {% endfor %}
        </tbody>
    </table>
</div>
<a class="btn btn-dark create-btn" id="create-thread" href="/create">
    <img src="/static/mysite_forum/img/create_btn.svg" alt="no svg">
</a>
{% endblock %}

{% block contentJS %}
<script>
    let has_next_page = {{ has_next_page|yesno:"true,false" }};
    let cursor = '{{ cursor }}';
    let pages = '{{ pages }}'
</script>
<script src="/static/mysite_forum/js/forum.js"></script>
{% endblock %}