{% extends 'base.html' %}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_forum/css/forum.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="threads d-flex" id="threads">
        {% for thread in forum_context.threads reversed %}
            {% include 'partials/thread_card.html' with thread=thread %}
        {% endfor %}
    </div>
</div>
<a class="btn btn-dark create-btn" id="create-thread" href="/create">
    <img src="/static/mysite_forum/img/create_btn.svg" alt="no svg">
</a>
{% endblock %}

{% block contentJS %}
<script>
    let forum_has_more = {{ forum_context.more|yesno:"true,false" }};

    var thread_index = {{ forum_context.index }} - {{ forum_context.amount_displaying }};
</script>
<script src="/static/mysite_forum/js/forum.js"></script>
{% endblock %}