{% extends 'base.html' %}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_forum/css/thread.css">
{% endblock %}

{% block content %}
<div class="modal fade" id="PostCenterBox" tabindex="-1" role="dialog" aria-labelledby="PostCenterBoxTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PostCenterBoxTitle">Type your post below!</h5>
            </div>
            <form id="post-form" class="modal-body" method="POST" action="{{ pk }}/post/create">
                <textarea name="post" id="post-area" rows="10" placeholder="Post here..."></textarea>
                {% csrf_token %}
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="post-btn" type="button" class="btn btn-info">Post</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ReplyCenterBox" tabindex="-1" role="dialog" aria-labelledby="ReplyCenterBoxTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReplyCenterBoxTitle">Type your reply below!</h5>
            </div>
            <form id="reply-form" class="modal-body" method="POST">
                <textarea name="reply" id="reply-area" rows="10" placeholder="Reply here..."></textarea>
                {% csrf_token %}
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="reply-btn" value="{{ pk }}" type="button" class="btn btn-info">Reply</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron-fluid">
        <h1 class="display-4">{{ title }}</h1>
        <h5 class="author">- {{ author }}</h5>
        <div class="lead">{{ body }}</div>
    </div>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#PostCenterBox">
        Post Comment
    </button>
    <div class="posts-container border-info">
        <div class="post-count">
            {% if n_posts == 0 %}
            Be the first to post on this thread!!!
            {% else %}
            {{ n_posts }} Post(s)
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}

{% block contentJS %}
<script>
    let posts = {{ thread_posts|safe }};
</script>
<script src="/static/mysite_forum/js/thread.js"></script>
{% endblock %}