.center-text {
	text-align: center;
	font-size: 1.5rem;
}

.margin-top {
	margin: 1rem 0;
}

.btn-link:hover {
	text-decoration: none;
}

.card-body {
	white-space: pre;
}

.search-group {
	display: flex;
	align-items: center;
}

.search-btn {
	margin-left: 10px;
}