{% extends 'base.html'%}

{% block title %}
<title>Login</title>
{% endblock %}

{% block contentCSS %}
<link rel="stylesheet" type="text/css" href="/static/mysite_auth/css/style.css">
{% endblock %}

{% block content %}
<div class="container">
	<div class="container col-lg-6">
		<br>
		{% if error %}
		<div class="center-text"><p class="label-message text-danger">{{ error }}</p></div>
		{% else %}
		<div class="center-text"><p class="label-message">Fill out both fields to Login</p></div>
		{% endif %}
		<form action="/login/" method="POST">
			<div  class="form-group">
				<input class="form-control" placeholder="Username" type="text" name="username" maxlength="80" required>	
			</div>
			<div  class="form-group">
				<input class="form-control" placeholder="Password" type="password" name="password" required>	
			</div>
			<input class="form-control btn btn-info" type="submit">
			{% csrf_token %}
		</form>
	</div>
</div>
{% endblock%}