{% extends 'base.html'%}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block contentCSS %}
<link rel="stylesheet" type="text/css" href="/static/mysite_auth/css/style.css">
{% endblock %}

{% block content %}
<div class="container">
	<div class="container col-lg-6">
		<br>
		{% if error %}
		<div class="center-text"><p class="label-message text-danger">{{ error }}</p></div>
		{% else %}
		<div class="center-text"><p class="label-message">Fill in all fields to Sign Up</p></div>
		{% endif %}
		<form action="/signup/" method="POST">
			<div  class="form-group">
				<input class="form-control" value="{{ name }}" placeholder="Name" type="text" name="name" maxlength="20" required>	
			</div>
			<div  class="form-group">
				<input class="form-control" value="{{ username }}" placeholder="Username" type="text" name="username" maxlength="80" required>	
			</div>
			<div  class="form-group">
				<input class="form-control" value="{{ email }}" placeholder="Email" type="email" name="email" maxlength="40" required>	
			</div>
			<div  class="form-group">
				<input class="form-control" value="{{ password }}" placeholder="Password" type="password" name="password" required>	
			</div>
			<div  class="form-group">
				<input class="form-control" value="{{ passwordConf }}" placeholder="Re-enter password" type="password" name="passwordConf" required>
			</div>
			<input class="form-control btn btn-info" type="submit">
			{% csrf_token %}
		</form>
	</div>
</div>
{% endblock%}