{% extends 'base.html'%}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_user/css/index.css">
{% endblock %}

{% block content %}
<div class="container">
	<div class="container center-text">
	{% if user.is_staff %}
		Get to work admin!!!
	{% else %}	
		Hello, World!!!
		<br>
		This web app is currently a work in progress :D
	{% endif %}
	</div>
</div>
{% endblock %}

{% block contentJS %}
{% if user.is_authenticated %}
<script src="/static/mysite_user/js/index.js"></script>
{% endif %}
{% endblock %}