{% extends 'base.html'%}

{% block title %}
<title>My Site</title>
{% endblock %}

{% block contentCSS %}
<link rel="stylesheet" type="text/css" href="/static/mysite_user/stylesheets/style.css">
{% endblock %}

{% block content %}
<div class="container">
	{% if user.is_staff %}
	<div class="accordion" id="data">
	</div>
	{% else %}	
	<div class="container center-text">
		Hello, World!!!
		<br>
		This web app is currently a work in progress :D
	</div>
	{% endif %}
</div>
{% endblock %}

{% block contentJS %}
<script src="/static/mysite_user/javascripts/index.js"></script>
{% endblock %}