{% extends 'base.html' %}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_user/css/profile.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-fluid user-name">{{ profile_user }}</div>
    <div class="model-names-container">
        <div class="model-name">Threads Created: {{ n_threads }}</div>
        <div class="model-name">Posts Created: {{ n_posts }}</div>
        <div class="model-name">Replies Created: {{ n_replies }}</div>
    </div>
    <div class="user-threads">
        <div class="container-head bg-info">
            <header class="bold-header">Threads:</header>
            {% if profile_user == user.name %}
            <label class="switch">
                <input id="enable_deletion" type="checkbox">
                <span class="slider round"></span>
            </label>
            {% endif %}
        </div>
        <div class="border border-info threads-container">
            {% for thread in threads %}
            <div class="thread-block">
                <a class="thread-link text-info" href="/thread/{{ thread.id }}">{{ thread.title }}</a>
                {% if profile_user == user.name %}
                <label class="hide radio-container">{{ thread.title}}
                    <div id="custom-checkbox">
                        <input type="checkbox" name="radio" value="{{ thread.id}}">
                        <span class="checkmark"></span>
                    </div>
                </label>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block contentJS %}
{% if  profile_user == user.name %}
<script src="/static/mysite_forum/js/profile_auth.js"></script>
{% endif %}
{% endblock %}