{% extends 'base.html' %}

{% block contentCSS %}
<link rel="stylesheet" href="/static/mysite_user/css/profile.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-fluid user-name">{{ profile_user }}</div>
    <div class="model-names-container">
        <div class="model-name">Threads Created: {{ n_threads }}</div>
        <div class="model-name">Posts Created: {{ n_posts }}</div>
        <div class="model-name">Replies Created: {{ n_replies }}</div>
    </div>
    <div class="user-threads">
        <header>Threads:</header>
        <div class="threads">
            {% for thread in threads %}
            <div class="thread">
                <a href="/forum/thread/{{ thread.id }}">{{ thread.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block contentJS %}
{% endblock %}