{% extends 'base.html'%}

{% block contentCSS %}
<link rel="stylesheet" type="text/css" href="/static/mysite_search/css/search.css">
{% endblock %}

{% block content %}
<div class="container">
	<div class="search-group">
        <input class="form-control margin-top rmOtln search-bar" type="text" autocomplete="off" placeholder="Search" id="search-bar">
        <button class="btn btn-info search-btn" id="search-btn">Search</button>
    </div>
	<div class="accordion margin-top" id="data">
	</div>
</div>
{% endblock %}

{% block contentJS %}
<script src="/static/mysite_search/js/search.js"></script>
{% endblock %}