.create-btn {
    border-radius: 35px;
    padding: 0;
    right: 50;
    bottom: 50;
    position: fixed;
}

.thread-block {
    padding: 10px !important;
    border: 1px solid #343a40 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.thread-block:hover {
    color: white;
    background-color: #343a40 !important;
}

.thread-block:hover > .thread-link {
    color: white !important;
    text-decoration: unset !important;
}

.thread-title {
    display: inline;
    font-size: 20px;
    font-weight: bolder !important;
}

.thread-author {
    display: inline;
    float: right;
}

.thread-body {
    font-style: italic !important;
}

/* For phones with the notches */
.safe-fit {
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
}

.w-mx {
    width: 100% !important;
}

.rm-tp-bd {
    border-top: 0 !important;
}

img {
    height: 70px;
}

.more-btn:hover {
    cursor: pointer;
}

.more-btn-for-threads {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
}

.more-btn-for-threads:hover {
    font-weight: bold;
}

@media (max-width: 736px) {

}

@media (max-width: 991px) {
    .container {
        margin: unset;
        padding: unset;
        max-width: unset !important;
    }

    .create-btn {
        right: 10;
        bottom: 10;
    }
}