.create-btn {
    border-radius: 35px !important;
    padding: 0 !important;
    right: 50 !important;
    bottom: 50 !important;
    position: fixed !important;
}

table {
    text-align: left !important;
}

.thread-title, .thread-author {
    color: black !important;
    font-weight: unset !important;
}

.thread-title {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    width: 400px !important;
}

.rv-fw {
    font-weight: unset !important;
}

.mobile-portrait {
    display: none !important;
}

.bold {
    font-weight: bold !important;
    margin-bottom: 5px;
}

.details {
    color: gray !important;
    font-size: 15px;
}

.w-mx {
    width: 100% !important;
}

img {
    height: 70px !important;
}

.more-btn {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    padding: .75rem !important;
    text-align: center !important;
}

.more-btn:hover {
    cursor: pointer !important;
}

@media (max-width: 414px) {
    thead > tr > th, .mobile-portrait ~ td {
        display: none !important;
    }

    .mobile-portrait {
        display: unset !important;
    }

    .container {
        margin: unset !important;
        max-width: unset !important;
    }
}

@media (max-width: 991px) {

    .thread-title {
        width: 300px !important;
    }

    .create-item {
        display: unset !important;
    }

    .threads {
        display: unset !important;
    }

    .container {
        padding: unset !important;
        max-width: unset !important;
    }

    .create-btn {
        display: none;
    }
}