.jumbotron-fluid {
    margin-bottom: 20px !important;
}

.author {
    font-weight: 1 !important;
}

.text-secondary:hover {
    cursor: pointer !important;
    color: #17a2b8 !important;
}

.post-object, .reply-object {
    border-top: 1px solid darkgray !important;
    padding: 10px;
}

.post-count {
    margin-left: 10px !important;
}

.post-actions {
    margin-top: 10px !important;
}

.display-4 {
    font-size: 1.5rem;
    font-weight: 300;
}

.lead {
    white-space: pre-line;
    width: inherit;
    font-size: 1rem;
}

#modal-textarea {
    width: 100%;
    resize: none;
    box-shadow: unset;
    outline: none;
    border: none;
}

.thread-posts-container {
    margin-top: 10px;
    display: block;
}

.post, .reply {
    white-space: pre-line;
}

.my-4 {
    margin-bottom: 1px !important;
}

.author-link:hover {
    text-decoration: none;
}

.more-btn {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    padding: .75rem !important;
    text-align: center !important;
}

.more-btn:hover {
    cursor: pointer !important;
}