.jumbotron-fluid {
    margin-bottom: 20px !important;
}

.link {
    color: black;
}

.post-obj, .reply-obj {
    border-top: 1px solid darkgray !important;
    padding: 10px 10px 0px;
}

.post-count {
    margin-left: 10px !important;
}

.nice-font {
    font-size: 1.5rem;
    font-weight: 300;
}

.lead {
    white-space: pre-line;
    width: inherit;
    font-size: 1rem;
}

#modal-textarea {
    width: 100%;
    resize: none;
    box-shadow: unset;
    outline: none;
    border: none;
}

.thread-posts-container {
    margin-top: 10px;
    display: block;
}

.post, .reply {
    white-space: pre-line;
}

.my-4 {
    margin-bottom: 1px !important;
}

.more-btn {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    padding: .75rem !important;
    text-align: center !important;
}

.more-btn:hover {
    cursor: pointer !important;
}