.container-fluid {
    margin-top: 10px;
}

.jumbotron-fluid {
    margin-bottom: 20px;
}

.author {
    font-weight: 1;
}

.display-4 {
    font-size: 1.5rem;
    font-weight: 300;
}

.lead {
    white-space: pre-line;
    width: inherit;
    font-size: 1rem;
}

#post-area, #reply-area {
    width: 100%;
    resize: none;
    box-shadow: unset;
    outline: none;
    border: none;
}

.posts-container {
    margin-top: 10px;
    display: block;
}

.btn-link {
    padding: 0;
}

.no-padding {
    padding: 0;
}

.post, .reply {
    white-space: pre-line;
}

.post-author, .reply-author {
    text-align: right;
}

.my-4 {
    margin-bottom: 1px !important;
}

/* SkyBlue Color */
.sky-blue-bg {
    background-color: #9FFFFF;
}

.sky-blue-bg:hover {
    background-color: #DFFFFF;
}

.sky-blue-bg:active {
    color: #000000;
}

.sky-blue-txt {
    color: #DFFFFF;
}