<!DOCTYPE>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
			<link rel="shortcut icon" href="">
			<title>My Site</title>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/static/base/css/base.css">
			{% block contentCSS %}
			{% endblock %}
		</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark safe-fit">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand text-info" href="/">MySite</a>
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav mr-auto">
				</ul>
				<ul class="navbar-nav justify-content-end">
					<li class="nav-item create-item d-none">
						<a class="nav-link text-info" href="/create">Create</a>
					</li>
				{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-info rmOtln" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.name }}</a>
						<div class="dropdown-menu dropdown-menu-right">
							{% if user.is_staff %}
							<a class="dropdown-item" href="/admin">Admin Page</a>
							{% endif %}
							<a class="dropdown-item" href="/profile/{{ user.pk }}">Profile Page</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/logout">Logout</a>
						</div>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link text-info" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-outline-info mr-sm-2" href="/signup">Register</a>
					</li>
				{% endif %}
				</ul>
			</div>
		</nav>
		{% block content %}
		{% endblock%}
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
		<script src="/static/base/js/base.js"></script>
		{% if user.is_authenticated %}
		<script src="/static/mysite_auth/js/logout.js"></script>
		{% endif %}
		{% block contentJS %}
		{% endblock %}
	</body>
</html>