<a class="thread-block" href="/thread/{{ thread.pk }}">
    <div class="w-mx d-block">
        {% if thread.title|length > 41 %}
        <div class="thread-title">{{ thread.title|slice:"0:40" }}...</div>
        {% else %}
        <div class="thread-title">{{ thread.title }}</div>
        {% endif %}
        <div class="thread-author">- {{ thread.author }}</div>
    </div>
    <hr class="w-mx nice-hr">
    {% if thread.body|length > 181 %}
    <div class="thread-body">{{ thread.body|slice:"0:180" }}...</div>
    {% else %}
    <div class="thread-body">{{ thread.body }}</div>
    {% endif %}
</a>