.center-content {
	min-height: 100%;
	padding-bottom: 120px;
	display: flex;
	align-items: center;
}

.center-text {
	text-align: center;
	font-size: 1.5rem;
}

.margin-top {
	margin: 1rem 0;
}

.btn-link:hover {
	text-decoration: none;
}

.card-body {
	white-space: nowrap !important;
}