.bg-white {
    background-color: white !important;
}

.rmOtln, .rmOtln:active {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-light, .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: unset;
}