.bg-white {
    background-color: white !important;
}

.rmOtln, .rmOtln:active {
    outline: none !important;
    box-shadow: none !important;
}

/* For phones with notches */
.safe-fit {
    padding-left: calc(max(22px, env(safe-area-inset-left))) !important;
    padding-right: calc(max(22px, env(safe-area-inset-right))) !important;
}

.navbar-light, .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: unset;
}