.user-name {
    text-align: center;
    font-size: 2rem;
}

.model-names-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.view-selected {
    font-weight: bolder !important;
}

table {
    text-align: left;
}

.delete-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hide {
    display: none !important;
}

.model-name {
    padding: 10px;
}

.outline {
    border: 1px solid white;
}

#deleteOption {
    float: right;
    display: unset;
}

.thread-link:hover, .post-link:hover, .reply-link:hover {
    color: #343a40 !important;
}

.selected {
    background-color: #ccc;
}

.hide {
    display: none !important;
    cursor: unset !important;
    padding-left:  unset !important;
}

label {
    margin-bottom: unset;
}

.rm-br-mr {
    border-bottom: unset !important;
    margin-bottom: unset !important;
}

.radio-container {
    display: block;
    position: relative;
    font-size: 22px;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 10;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.more-btn:hover {
    cursor: pointer;
}

.more-btn {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    padding: 10px !important;
    border-top: 1px solid lightgrey !important;
}

@media (max-width: 991px) {
    .container {
        max-width: unset !important;
        margin: unset !important;
        padding: unset !important;
    }
}