.user-name {
    text-align: center;
    font-size: 2rem;
}

.thread, .post, .reply {
    white-space: pre-line;
    margin-bottom: 10px;
}

.model-names-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.model-name {
    padding: 10px;
}

.thread {
    display: block;
}

header {
    font-weight: bold;
    font-size: 2rem;
}